
@font-face {
	font-family: 'Bender-Light';
	src: url('./fonts/Bender-Light.eot');
	src: local('☺'), url('./fonts/Bender-Light.woff') format('woff'), url('./fonts/Bender-Light.ttf') format('truetype'), url('./fonts/Bender-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* jumbotron */
body {
	text-shadow: 2px 2px #000;
	font-family:"Bender-Light";
	padding-top: 3.5rem;
}
.jumbotron *{
	text-shadow: 2px 2px #000;
}

* {
	text-shadow: 0px 0px #000;
}

.jumbotron {
	background-size: cover;
	color: white;
}

/* content handling */
.col-md-12{border-bottom:1px solid #ccc}

/* stickly footer */
.footer {
	position:fixed;
	bottom:0px;
	width:100%;
	background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}